version: "3.7"

services:

  pi-hole:
    image: pihole/pihole:2025.11.1@sha256:91dc91ddd413bf461c283204558f8f21839851e9824799075a7ceff7c77eea40
    hostname: pi-hole
    restart: on-failure
    environment:
      - TZ=UTC
      - VIRTUAL_HOST=${APP_DOMAIN}
      - FTLCONF_dns_upstreams=127.0.0.1#5300
      - FTLCONF_webserver_port=8082
    volumes:
      - ${APP_DATA_DIR}/pihole/etc/pihole:/etc/pihole
      - ${APP_DATA_DIR}/pihole/etc/dnsmasq.d:/etc/dnsmasq.d
    depends_on:
      - dns-crypt
    network_mode: host
  dns-crypt:
    image: zydou/dnscrypt:2026-01-24@sha256:dcdd87c14e7bde765ef76ab47a669e4df129038b5d17bbe80195cac3a79c3d91
    hostname: dns-crypt
    restart: on-failure
    environment:
      - TZ=UTC
    volumes:
      - ${APP_DATA_DIR}/dnscrypt/dnscrypt-proxy.toml:/etc/dnscrypt-proxy/dnscrypt-proxy.toml
    network_mode: host
