version: "3.7"

services:

  pi-hole:
    image: pihole/pihole:2025.11.0@sha256:e28e239f55e648a9d32c8f065650acfe987ddebf1cd5f64f1c071e8716156ceb
    hostname: pi-hole
    restart: on-failure
    environment:
      - TZ=UTC
      - VIRTUAL_HOST=${APP_DOMAIN}
      - FTLCONF_dns_upstream=172.20.0.3
      - FTLCONF_dns_listeningmode: SINGLE
      - FTLCONF_dns_querylogging: false
      - FTLCONF_dns_cache_size: 10000
      #- FTLCONF_dns_blocking_mode: IP
      #- FTLCONF_dns_reply_blocking_force4: true
      #- FTLCONF_dns_reply_blocking_ipv4: 172.25.0.5
      - FTLCONF_dns_ratelimit_count: 0
      - FTLCONF_dns_ratelimit_interval: 0
      - FTLCONF_dhcp_active: false
      - FTLCONF_dhcp_ipv6: false
      - FTLCONF_ntp_ipv4_active: false
      - FTLCONF_ntp_ipv6_active: false
      - FTLCONF_ntp_sync_active: false
      - FTLCONF_database_maxdbdays: 30
      - FTLCONF_database_network_expire: 7
      - FTLCONF_webserver_port: 80
      - FTLCONF_webserver_interface_theme: default-darker
      #- FTLCONF_misc_privacylevel: 3
      - FTLCONF_misc_dnsmasq_lines: dns-forward-max=5096;min-cache-ttl=300;rebind-domain-ok=
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8082:80/tcp"
    volumes:
      - ${APP_DATA_DIR}/pihole/etc/pihole:/etc/pihole
      - ${APP_DATA_DIR}/pihole/etc/dnsmasq.d:/etc/dnsmasq.d
    depends_on:
      - dns-crypt
    networks:
      pi-hole-dns-crypt:
        ipv4_address: 172.20.0.2

  dns-crypt:
    image: zydou/dnscrypt:2025-11-17@sha256:55ba1ca3f7c39deeb6071f74c83de9bd2587a581f61229511a50b411a24d23b1
    hostname: dns-crypt
    restart: on-failure
    environment:
      - TZ=UTC
    volumes:
      - ${APP_DATA_DIR}/dnscrypt/dnscrypt-proxy.toml:/etc/dnscrypt-proxy/dnscrypt-proxy.toml
    dns:
      - "1.1.1.1"
      - "1.0.0.1"
    networks:
      pi-hole-dns-crypt:
        ipv4_address: 172.20.0.3

networks:
  pi-hole-dns-crypt:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/29
