version: "3.7"

services:

  pi-hole:
    image: pihole/pihole:2025.11.0@sha256:e28e239f55e648a9d32c8f065650acfe987ddebf1cd5f64f1c071e8716156ceb
    hostname: pi-hole
    restart: on-failure
    environment:
      - TZ=UTC
      - VIRTUAL_HOST=${APP_DOMAIN}
      - FTLCONF_dns_upstreams=127.0.0.1#5300
      - FTLCONF_webserver_port=8082
    volumes:
      - ${APP_DATA_DIR}/pihole/etc/pihole:/etc/pihole
      - ${APP_DATA_DIR}/pihole/etc/dnsmasq.d:/etc/dnsmasq.d
    depends_on:
      dns-crypt:
        condition: service_healthy
    network_mode: host
  dns-crypt:
    image: zydou/dnscrypt:2025-11-17@sha256:55ba1ca3f7c39deeb6071f74c83de9bd2587a581f61229511a50b411a24d23b1
    hostname: dns-crypt
    restart: on-failure
    environment:
      - TZ=UTC
    volumes:
      - ${APP_DATA_DIR}/dnscrypt/dnscrypt-proxy.toml:/etc/dnscrypt-proxy/dnscrypt-proxy.toml
    network_mode: host
    healthcheck:
      test: ["CMD-SHELL", "nc -zv 127.0.0.1 5300 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
